<template>
  <div class="banner-area">
    <div class="right-musk">
      <div class="container">
        <div class="row">

          <div class="col-md-6   col-xs-12">
            <div class="banner-text">
              <div class="b-content">
                <h1>Supercharge<br />
                  Your Small Business</h1>
                <h3>from your <span>wordpress</span> dashboard</h3>
                <p>WP ERP optimises your local small to large enterprise<br />
                  with powerful HRM, CRM & Accounting - Unlocak more with<br />
                  20+ extensions & Project Management module</p>
                <div class="dis-flex">
                  <button type="button" class="btn btn-white btn-size-custom download-btn"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i> Download Free</button>
                  <button type="button" class="btn btn-white btn-size-custom demo-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i>Demo</button>
                  <button type="button" class="btn btn-link btn-size-custom btn-document"><i class="fa fa-file-text-o" aria-hidden="true"></i> <span>Documentasions</span></button>
                </div>

              </div>
            </div>

          </div>
          <div class="col-md-6 col-xs-12 bg">
            <div class="bn-img">
              <img src="../assets/bnr.png" alt="" class="img-responsive " />
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</template>

