<template>
  <section class="client-reviews">

    <div class="container">
      <h1>Reviews by our clients</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="single-box">

            <div class="client-face">
              <img src="../assets/face2.png" alt="">
            </div>
            <p class="overview">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply
            </p>
            <div class="client-info">
              <span class="name">Toma Fong</span>
              <span class="designation">CEO</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-box">

            <div class="client-face">
              <img src="../assets/face2.png" alt="">
            </div>
            <p class="overview">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply
            </p>
            <div class="client-info">
              <span class="name">Toma Fong</span>
              <span class="designation">CEO</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-box">

            <div class="client-face">
              <img src="../assets/face3.png" alt="">
            </div>
            <p class="overview">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply
            </p>
            <div class="client-info">
              <span class="name">Toma Fong</span>
              <span class="designation">CEO</span>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <a href="" class="all-testimonial-btn">Read All The Testimonials</a>
        </div>
      </div>
    </div>


  </section>
</template>
