<template>
  <div>
    <section class="single-feature-sec">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="img-sample">
              <img src="../assets/hrm_Illustration.png"/>
            </div>

          </div>
          <div class="col-md-6 ">
            <div class="short-info">
              <h1>Empower your workforce with HRM</h1>
              <p>Individual profiles and work logs for each employee allow you to manage their payrolls, emphasis
                workload, promotion and leave – everything can be monitored and managed online with absolute
                clarity.</p>
              <div id="accordion" class="custom-collapse">
                <div class="card">
                  <div class="card-header" id="headingOne">

                    <div class="box purple-box">
                      <img src="../assets/db.png">
                    </div>
                    <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
                      Evolving Database
                    </a>
                  </div>

                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      Track / Import employee attendances and manage their leaves. Make important announcements when you
                      need everyone to is heard.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">

                    <div class="box green-box">
                      <div>
                        <img src="../assets/eye.png">
                      </div>

                    </div>

                    <a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                       aria-controls="collapseTwo">
                      Keep a Keen Eye
                    </a>

                  </div>
                  <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      Track / Import employee attendances and manage their leaves. Make important announcements when you
                      need everyone to is heard.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <div class="box orange-box ">
                      <img src="../assets/tr.png">
                    </div>

                    <a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                       aria-controls="collapseThree">
                      Get Organized in a Flip
                    </a>

                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                      Track / Import employee attendances and manage their leaves. Make important announcements when you
                      need everyone to is heard.
                    </div>
                  </div>
                </div>
                <span class="clearfix"></span>
                <a href="#" class="View_Details">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="single-feature-sec white-area">
      <div class="container">
        <div class="row">

          <div class="col-md-6 ">
            <div class="short-info">
              <h1>Every Customer <br> is Important in CRM</h1>
              <p>We make it the simplest! Not only you get happy customers, create loyal and a potential fan base with
                your hospitality.</p>
              <div id="accordion1" class="custom-collapse">
                <div class="card">
                  <div class="card-header" id="headingOne1">

                    <div class="box purple-box">
                      <img src="../assets/db.png">
                    </div>
                    <a href="#" data-toggle="collapse" data-target="#collapse1" aria-controls="collapse1">
                      Take it Step by Step
                    </a>
                  </div>

                  <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
                    <div class="card-body">
                      Track / Import employee attendances and manage their leaves. Make important announcements when you
                      need everyone to is heard.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo2">

                    <div class="box green-box">
                      <div>
                        <img src="../assets/eye.png">
                      </div>

                    </div>

                    <a href="#" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="true"
                       aria-controls="collapseTwo">
                      Prepare for Follow Ups
                    </a>

                  </div>
                  <div id="collapseTwo2" class="collapse show" aria-labelledby="headingTwo2" data-parent="#accordion">
                    <div class="card-body">
                      Schedule your meetings and keep notes, hints on all communications for a better service with email
                      alerts. With the individual logging, check your progress and assess how your...
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree3">
                    <div class="box orange-box ">
                      <img src="../assets/tr.png">
                    </div>

                    <a href="#" data-toggle="collapse" data-target="#collapse4" aria-expanded="false"
                       aria-controls="collapseThree">
                      Build Relationships with Companies
                    </a>

                  </div>
                  <div id="collapse4" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                      Track / Import employee attendances and manage their leaves. Make important announcements when you
                      need everyone to is heard.
                    </div>
                  </div>
                </div>
                <span class="clearfix"></span>
                <a href="#" class="View_Details">View Details</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-sample">
              <img src="../assets/CRM_illustration.png"/>
            </div>

          </div>
        </div>
      </div>
    </section>
    <section class="single-feature-sec radish-area">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="img-sample">
              <img src="../assets/accounting.png"/>
            </div>

          </div>
          <div class="col-md-6 ">
            <div class="short-info">
              <h1>Get Balanced <br>with Accounting</h1>
              <p>Take total control of your company’s finances in real time with the Accounting module. You can generate
                live and detailed reports and make transactions, generate invoices and pay employees.</p>
              <div id="accordion" class="custom-collapse">
                <div class="card">
                  <div class="card-header" id="headingOne">

                    <div class="box purple-box">
                      <img src="../assets/db.png">
                    </div>
                    <a href="#" data-toggle="collapse" data-target="#collapse4" aria-controls="collapse4">
                      Speedy Stats
                    </a>
                  </div>

                  <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                    <div class="card-body">
                      Track / Import employee attendances and manage their leaves. Make important announcements when you
                      need everyone to is heard.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="heading5">

                    <div class="box green-box">
                      <div>
                        <img src="../assets/eye.png">
                      </div>

                    </div>

                    <a href="#" data-toggle="collapse" data-target="#collapse5" aria-expanded="true"
                       aria-controls="collapse5">
                      Make Payments Easy
                    </a>

                  </div>
                  <div id="collapse5" class="collapse show" aria-labelledby="heading5" data-parent="#accordion">
                    <div class="card-body">
                      Customers, vendors or suppliers – create invoices, make and take payments from your every client
                      and see the data react with your finances instantly. All your transactions are
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="heading6">
                    <div class="box orange-box ">
                      <img src="../assets/tr.png">
                    </div>

                    <a href="#" data-toggle="collapse" data-target="#collapse6" aria-expanded="false"
                       aria-controls="collapse6">
                      Many Reports
                    </a>

                  </div>
                  <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
                    <div class="card-body">
                      Track / Import employee attendances and manage their leaves. Make important announcements when you
                      need everyone to is heard.
                    </div>
                  </div>
                </div>
                <span class="clearfix"></span>
                <a href="#" class="View_Details">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="single-feature-sec white-area">
      <div class="container">
        <div class="row">

          <div class="col-md-6 ">
            <div class="short-info">
              <h1>Integrated Project<br> Management System</h1>
              <p>No need to use expensive solutions like Basecamp or any other task and project management system. We
                got you covered with everything that you might need.</p>
              <div id="accordion7" class="custom-collapse">
                <div class="card">
                  <div class="card-header" id="headingOne7">

                    <div class="box purple-box">
                      <img src="../assets/db.png">
                    </div>
                    <a href="#" data-toggle="collapse" data-target="#collapse7" aria-controls="collapse1">
                      Take it Step by Step
                    </a>
                  </div>

                  <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
                    <div class="card-body">
                      Track / Import employee attendances and manage their leaves. Make important announcements when you
                      need everyone to is heard.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="heading8">

                    <div class="box green-box">
                      <div>
                        <img src="../assets/eye.png">
                      </div>

                    </div>

                    <a href="#" data-toggle="collapse" data-target="#collapse8" aria-expanded="true"
                       aria-controls="collapse8">
                      Prepare for Follow Ups
                    </a>

                  </div>
                  <div id="collapse8" class="collapse show" aria-labelledby="heading8" data-parent="#accordion">
                    <div class="card-body">
                      Schedule your meetings and keep notes, hints on all communications for a better service with email
                      alerts. With the individual logging, check your progress and assess how your...
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="heading10">
                    <div class="box orange-box ">
                      <img src="../assets/tr.png">
                    </div>

                    <a href="#" data-toggle="collapse" data-target="#collapse10" aria-expanded="false"
                       aria-controls="collapse10">
                      Build Relationships with Companies
                    </a>

                  </div>
                  <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion">
                    <div class="card-body">
                      Track / Import employee attendances and manage their leaves. Make important announcements when you
                      need everyone to is heard.
                    </div>
                  </div>
                </div>
                <span class="clearfix"></span>
                <a href="#" class="View_Details">View Details</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-sample">
              <img src="../assets/management.png"/>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
</template>
