<template>
  <section class="feature-sec text-center">

    <div class="container">
      <div class="row">
        <!-- Grid column -->
        <div class="col-lg-4">
          <!-- Card -->
          <div class="card">
            <!-- Content -->
            <div class="card-body">
              <img src="../assets/f1.png" alt=""/>
              <!-- Offer -->
              <h5 class="mb-4">Open Source</h5>

              <p>The Core plugin and HR, CR modules are absolutely free to use, free to customize and you can add
                enhancements depending on your ideas and needs.</p>
            </div>
            <!-- Content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4">

          <!-- Card -->
          <div class="card blue-gradient">
            <!-- Content -->
            <div class="card-body white-text">
              <img src="../assets/f3.png" alt=""/>
              <!-- Offer -->
              <h5 class="mb-4">Feature Filled Modules</h5>
              <p>Modules are designed to take your business to the next level. If you have a small business, this is
                ideal for keeping your budget tight but yet get professional results.</p>
            </div>
            <!-- Content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-4">
          <!-- Card -->
          <div class="card">
            <!-- Content -->
            <div class="card-body">
              <img src="../assets/f2.png" alt=""/>
              <h5 class="mb-4">Support and Docs</h5>
              <p>We have made a detailed documentation of our features and operation. We provide 5 days support,
                webinars and training to your staff if necessary.</p>
            </div>
            <!-- Content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->
      </div>
    </div>
  </section>
</template>
