<template>
  <div>

    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="footer-menus">
              <h3>
                WP ERP
              </h3>
              <ul>
                <li>
                  <a href="">About</a>
                </li>
                <li>
                  <a href="">Refund Policy</a>
                </li>
                <li>
                  <a href="">Terms of Service</a>
                </li>
                <li>
                  <a href="">Support Policy</a>
                </li>
                <li>
                  <a href="">FAQ</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-menus">
              <h3>
                Products
              </h3>
              <ul>
                <li>
                  <a href="">HRM</a>
                </li>
                <li>
                  <a href="">CRM</a>
                </li>
                <li>
                  <a href="">Accounting</a>
                </li>
                <li>
                  <a href="">Request A Demo</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-menus">
              <h3>
                Resources
              </h3>
              <ul>
                <li>
                  <a href="">Documentation</a>
                </li>
                <li>
                  <a href="">Discussion Forum</a>
                </li>
                <li>
                  <a href="">Submit Ideas</a>
                </li>
                <li>
                  <a href="">Translate Extensions</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-menus">
              <h3>
                Newsletter
              </h3>
              <input type="text" class="form-control"/>
              <button class="subscribe-btn">Subscribe!</button>
            </div>
          </div>

        </div>
      </div>

    </section>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="socials">
              <a href=""><i class="fa fa-facebook-square"></i></a>
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-youtube-play"></i></a>
              <a href=""><i class="fa fa-google"></i></a>
            </div>
          </div>
          <div class="col-md-6">
            <p>&copy; 2016 WP ERP . Build by the folks at weDevs.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
