<template>
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-md navbar-light main-nav-bar ">
    <div class="container max-header">

      <!-- Brand -->
      <a class="navbar-brand pt-0 waves-effect" href="">
        <img src="../assets/logo.png" alt="MDB logo">
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">

        </ul>

        <!-- Right -->
        <ul class="navbar-nav ">

          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Modules&nbsp;<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">ERP Facility</a>
              <a class="dropdown-item" href="#">Business Solution</a>
              <a class="dropdown-item" href="#">Easy Calculation</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Extensions&nbsp;<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">ERP Facility</a>
              <a class="dropdown-item" href="#">Business Solution</a>
              <a class="dropdown-item" href="#">Easy Calculation</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="">Docs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="">Join free</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-white">SignIn</button>
          </li>
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->
</template>

<style lang="scss">
  @import '../scss/style.scss';
</style>
