<template>
  <section class="search-information">
    <div class="rectangle_first_bg">
      <div class="musk_Shape text-center">
        <div class="action-new-box">
          <a href=""><img src="../assets/plane.png"></a>
        </div>
        <div class="summary">
          <h2>Supercharge Your Small Business</h2>
          <p>from your <span> WordPress </span> dashboard</p>
          <a class="start-btn">Get Started Free</a>
        </div>
      </div>
    </div>
  </section>
</template>
