<template>
  <div class="trusted-panel">
    <div class="card card-cascade wider">
      <!-- Card content -->
      <div class="card-body card-body-cascade text-center">
        <!-- Text -->
        <p class="card-text"><img src="../assets/badge.png"/> Trusted By <span>3000+ Businesses</span> over 100
          Countries</p>
      </div>
      <!-- Card content -->
    </div>
  </div>
</template>
