<template>
  <div id="app">
    <App-header></App-header>
    <App-banner></App-banner>
    <App-trust></App-trust>
    <App-feature></App-feature>
    <App-feature-info></App-feature-info>
    <App-clients></App-clients>
    <App-information></App-information>
    <App-footer></App-footer>
  </div>
</template>
<script>
  //import your components here
  import Header from './components/header.vue';
  import banner from './components/banner.vue';
  import trust from './components/trust.vue';
  import feature from './components/features.vue';
  import featureinfo from './components/feature-info.vue';
  import clients from './components/clients.vue';
  import information from './components/information.vue';
  import footer from './components/footer.vue';

  export default {
    name: 'app',
    components: {
      'App-header': Header,
      'App-banner': banner,
      'App-trust': trust,
      'App-feature': feature,
      'App-feature-info': featureinfo,
      'App-clients': clients,
      'App-information': information,
      'App-footer': footer,

    }
  };
</script>
 
 
