@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

@mixin breakpoint($class) {
  @if $class == min_llg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $class == mid {
    @media (max-width: 1000px) {
      @content;
    }
  } @else if $class == max_sm {
    @media (max-width: 767px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

$font: 'Lato', sans-serif;
body {
  font-family: $font;
  font-weight: 400;
  outline: none;
  overflow-x: hidden;
}

a, a:focus, button, button:focus {
  outline: none;
}

.container {
  max-width: 1170px;
}

.fs16 {
  font-size: 16px;
}

.navbar-brand {
  img {
    margin-top: 5px;
  }
}

.navbar {
  box-shadow: none;
  padding: 14px 1rem 9px 1rem;

  .dropdown-menu {
    text-align: center;
    transition: .10s;

    a {
      padding: 4px;

      &:hover {
        transition: .10s;
        color: #14d6e8;
        background: transparent;
      }
    }

    &:before {
      position: absolute;
      top: -7px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-left: 7px solid transparent;
      border-bottom-color: #fff;
      content: '';
      transition: .10s;
    }
  }

}

.navbar-light {
  position: absolute;

  .navbar-nav {
    margin-right: -5px;
    @include breakpoint(max_sm) {
      text-align: center;
    }

    .nav-item {
      font-size: 16px;

      .nav-link {
        padding-right: .9rem;
        padding-left: .9rem;
        line-height: 28px !important;
        color: #fff !important;

        &:hover {
          color: #49ccfe !important;
        }
      }

      .btn.btn-white {
        background: #fff;
        text-transform: capitalize;
        font-size: 16px;
        padding: 4px 17px 6px 17px;
        margin-left: 16px;
        color: #2b62c9 !important;
      }

      &.dropdown.show {
        margin: auto;
      }
    }
  }

  @include breakpoint(max_sm) {
    .collapse.show {
      padding: 15px;
      background-image: linear-gradient(to bottom, #0068eb, #007ff4, #0094f9, #00a7fa, #00b9f9);

      .nav-item {
        .nav-link {
          transition: .4s;
        }
      }
    }
  }

  .navbar-toggler {
    background: rgba(255, 255, 255, .8);
  }
}

.banner-area {
  width: 100%;
  height: auto;
  padding-bottom: 185px;
  vertical-align: bottom;
  background-image: linear-gradient(to bottom, #0068eb, #007ff4, #0094f9, #00a7fa, #00b9f9);
  color: #fff;

  .right-musk {
    background: url(../assets/o.png) no-repeat bottom right;
    height: 100%;
    @include breakpoint(mid) {
      height: auto;
    }

    .banner-text {
      height: 100%;
      position: relative;
      @include breakpoint(max_sm) {
        text-align: center;
      }
      @include breakpoint(mid) {
        height: auto;
      }

      h1 {
        font-family: $font;
        font-size: 51px;
        font-weight: 900;
        line-height: 63px;
      }

      h3 {
        font-family: $font;
        font-size: 35px;
        font-weight: normal;
        color: #c0ebff;

        span {
          color: #57ddff;
        }
      }

      p {
        font-family: $font;
        font-size: 18px;
        font-weight: normal;
        color: #99ddfe;
        margin-top: 22px;
        margin-bottom: 50px;
      }

      .b-content {
        position: absolute;
        bottom: 0;
        @include breakpoint(mid) {
          position: inherit;
          margin-top: 100px;
        }

        .btn-size-custom {
          padding: 9px 22px;
          text-transform: capitalize;
          font-size: 16px;
          color: #fff !important;

          &.download-btn {
            background: #14d6e8 !important;
            box-shadow: 0 5px 11px 0 rgba(108, 224, 187, 0.18), 0 4px 15px 0 rgba(101, 99, 99, 0.15);
            margin-left: 0;

            &:hover {
              box-shadow: 0px 10px 25px 0px rgba(0, 23, 65, 0.1);
            }
          }

          &.demo-btn {
            background: #37b6ff !important;
            box-shadow: 0 5px 11px 0 rgba(108, 224, 187, 0.18), 0 4px 15px 0 rgba(101, 99, 99, 0.15);

            &:hover {
              box-shadow: 0px 10px 25px 0px rgba(0, 23, 65, 0.1);
            }
          }

          &.btn-document {
            padding-left: 4px;

            span {
              border-bottom: 2px solid #60cafa;
            }

            &:hover {
              text-decoration: none;
            }
          }

          i {
            margin-right: 5px;
          }

        }
      }
    }
  }

  .bg {
    background-size: cover;
    vertical-align: bottom;

    .bn-img {
      position: relative;
      bottom: 0;
      padding-top: 292px;
      @include breakpoint(max_sm) {
        height: auto;
        text-align: center;
        padding-top: 45px;
      }

      img {
        max-width: 629px;
        z-index: 10;
        position:  relative;
        bottom: 0;
        width: 100%;
        @include breakpoint(max_sm) {
          position: inherit;
          margin-top: 60px;
        }
      }
    }
  }
}

.trusted-panel {
  max-width: 810px;
  margin: auto;
  position: relative;
  top: -32px;

  .card {
    box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.16), 0 8px 18px 0 rgba(0, 0, 0, 0.12);
    margin: 0 15px;

    .card-body {
      padding: 39px 0;

      .card-text {
        font-size: 25px;
        font-weight: normal;
        font-family: $font;
        color: #b7bec2;

        img {
          margin-right: 20px;
        }

        span {
          font-family: $font;
          color: #14bff9;
          font-weight: 700;
        }
      }
    }
  }
}

.feature-sec {
  margin-top: 78px;
  margin-bottom: 78px;

  .container {
    .card {
      padding: 32px 20px 0px 20px;
      box-shadow: none;
      border: 1px solid #e2eaed;
      border-radious: 3px;
      margin-bottom: 15px;

      &:hover {
        box-shadow: 0px 25px 50px 0px rgba(0, 100, 235, 0.15);
        transition: .8s;
      }

      .card-body {
        h5 {
          font-family: $font;
          font-size: 25px;
          margin-top: 10px;
        }

        p {
          font-family: $font;
          font-size: 16px;
          color: #7c8082;
        }
      }

      &.blue-gradient {
        border: none !important;
        background-image: linear-gradient(to bottom, #006eed, #0084f6, #0099fa, #00abfb, #00bdfa);

        p {
          color: #fff;
        }
      }

    }
  }
}

.single-feature-sec {
  background: #f5f7f3;
  padding-top: 108px;
  display: block;
  float: left;
  width: 100%;
  height: auto;
  padding-bottom: 135px;
  position: relative;
  border-top: 1px solid #dce7f1;
  border-bottom: 1px solid #dce7f1;

  .container {
    .img-sample {
      position: relative;

      img {
        position: absolute;
        right: 0;
        @include breakpoint(max_sm) {
          position: inherit;
          width: 100%;
          right: inherit;
        }
      }
    }

    .short-info {
      max-width: 472px;
      width: 100%;
      float: right;
      padding-top: 58px;
      @include breakpoint(max_sm) {
        max-width: none;
        right: auto;
      }

      h1 {
        font-family: 'Lato Bold', sans-serif;
        font-size: 36px;
        font-weight: 700;
        color: rgb(27, 27, 27);
        line-height: 1.39;
      }

      p {
        font-family: 'Lato Bold', sans-serif;
        font-weight: normal;
        font-size: 16.2px;
        color: #7e8578;
        margin-top: 12px;
        margin-bottom: 30px;
      }

      .custom-collapse {
        width: 100%;

        .card {
          border-style: solid;
          border-width: 2px;
          border-color: rgb(234, 239, 229);
          border-radius: 5px;
          margin-bottom: 8px;
          box-shadow: none;

          .card-header {
            background-color: rgb(255, 255, 255);
            border: none;
            border-radius: 0;
            padding-bottom: 10px;

            .box {
              text-align: center;
              border-radius: 50%;
              width: 41px;
              height: 41px;
              float: left;

              img {
                vert-align: middle;
                position: relative;
                top: 5px;
              }

              &.purple-box {
                background: url("../assets/purple.png");
                width: 40px;
                height: 40px;
                background-image: -moz-linear-gradient(-50deg, rgb(225, 119, 255) 0%, rgb(116, 124, 255) 100%);
                background-image: -webkit-linear-gradient(-50deg, rgb(225, 119, 255) 0%, rgb(116, 124, 255) 100%);
                background-image: -ms-linear-gradient(-50deg, rgb(225, 119, 255) 0%, rgb(116, 124, 255) 100%);
                box-shadow: 2.5px 4.33px 30px 0px rgba(152, 122, 255, 0.4);
              }

              &.green-box {
                background: url("../assets/grn.png");
                width: 40px;
                height: 40px;
                background-image: -moz-linear-gradient(-50deg, rgb(97, 255, 147) 0%, rgb(0, 205, 255) 100%) !important;
                background-image: -webkit-linear-gradient(-50deg, rgb(97, 255, 147) 0%, rgb(0, 205, 255) 100%) !important;;
                background-image: -ms-linear-gradient(-50deg, rgb(97, 255, 147) 0%, rgb(0, 205, 255) 100%) !important;;
                box-shadow: 2.5px 4.33px 30px 0px rgba(38, 225, 213, 0.4);
              }

              &.orange-box {
                background: url("../assets/orange.png");
                width: 40px;
                height: 40px;
                background-image: -moz-linear-gradient(-50deg, rgb(255, 173, 111) 0%, rgb(255, 125, 144) 100%);
                background-image: -webkit-linear-gradient(-50deg, rgb(255, 173, 111) 0%, rgb(255, 125, 144) 100%);
                background-image: -ms-linear-gradient(-50deg, rgb(255, 173, 111) 0%, rgb(255, 125, 144) 100%);
                box-shadow: 2.5px 4.33px 30px 0px rgba(255, 151, 123, 0.4);
              }
            }

            a {
              font-family: $font;
              font-size: 20px;
              color: #1b1b1b;
              font-weight: bold;
              line-height: 2.1;
              text-align: left;
              position: relative;
              margin-left: 21px;
            }
          }

          .card-body {
            font-size: 16px;
            font-family: $font;
            color: rgb(115, 119, 121);
            line-height: 1.5;
            padding-left: 82px;
            padding-top: 0;
            font-weight: normal;
            padding-right: 100px;
          }
        }

        .View_Details {
          border-radius: 3px;
          background-color: rgb(221, 231, 215);
          text-align: center;
          width: 153px;
          height: 50px;
          float: left;
          font-size: 16px;
          font-family: $font;
          color: rgb(69, 130, 0);
          line-height: 47px;
          margin-top: 37px;

          &:hover {
            box-shadow: 0px 10px 25px 0px rgba(0, 23, 65, 0.1);
            background-color: #c5f0ab;
            transition: .5s;
          }
        }
      }
    }
  }

  &.white-area {
    background: #fff;
    border: none;

    .container {
      .short-info {
        float: left;
      }

      .img-sample {
        img {
          left: 0;
          right: auto;
          @include breakpoint(max_sm) {
            margin-top: 30px;
          }
        }
      }
    }

    .View_Details {
      background-color: rgb(224, 232, 247) !important;
      color: rgb(43, 98, 201) !important;

      &:hover {
        background: #3f76de;
      }
    }
  }

  &.radish-area {
    background: #f9f7f5;
    border-top: 1px solid #dce7f1;

    .View_Details {
      background-color: rgb(234, 227, 220) !important;
      color: rgb(186, 140, 97) !important;

      &:hover {
        background: #eed9c4 !important;
      }

    }
  }
}

section {
  &.client-reviews {
    background-color: rgb(245, 247, 250);
    width: 100%;
    display: block;
    overflow: hidden;
    padding-bottom: 104px;

    .container {
      h1 {
        font-size: 36px;
        font-family: "Lato";
        color: rgb(27, 27, 27);
        font-weight: 900;
        text-align: center;
        padding-top: 99px;
        margin-bottom: 44px;
      }

      .single-box {
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
        width: 100%;
        position: relative;
        height: auto;
        padding: 30px 30px 25px 30px;
        margin-top: 30px;
        transition: .3s;

        &:hover {
          box-shadow: 1.563px 8.863px 20px 0px rgba(0, 0, 0, 0.13);
          transition: .5s;
        }

        .overview {
          font-size: 16px;
          font-family: "Lato";
          color: rgb(138, 138, 138);
          line-height: 1.5;
          padding-right: 25px;
          margin-top: 20px;
          position: relative;

          &:before {
            content: url("../assets/quote1.png");
            z-index: 200;
            position: absolute;
            top: -44px;
            left: 0;
          }

          &:after {
            position: absolute;
            bottom: -28px;
            right: 23px;
            content: url("../assets/quote2.png");
          }
        }

        .client-info {
          text-align: center;
          width: 100%;
          display: block;
          margin-top: 26px;

          .name {
            font-size: 20px;
            font-family: $font;
            color: #616161;
            display: block;
            margin-bottom: -4px;
          }

          .designation {
            font-size: 16px;
            font-family: $font;
            color: rgb(43, 98, 201);
          }
        }

        .client-face {
          border-style: solid;
          border-width: 5px;
          border-color: rgb(255, 255, 255);
          border-radius: 50%;
          background-color: rgb(210, 210, 210);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
          width: 65px;
          height: 65px;
          margin: auto;
          text-align: center;
          overflow: hidden;
          vertical-align: top;

        }
      }

      .all-testimonial-btn {
        border-radius: 3px;
        background-color: rgb(43, 98, 201);
        width: 216px;
        height: 51px;
        font-size: 15px;
        font-family: $font;
        color: rgb(255, 255, 255);
        line-height: 3.171;
        text-align: center;
        margin: 60px auto;
        display: inline-block;

        &:hover {
          box-shadow: 1.563px 8.863px 20px 0px rgba(0, 0, 0, 0.18);
          transition: .5s;
        }
      }
    }
  }
}

section {
  &.search-information {
    .rectangle_first_bg {
      background-image: linear-gradient(0deg, rgb(0, 198, 251) 0%, rgb(0, 91, 234) 100%);
      background-image: -moz-linear-gradient(0deg, rgb(0, 198, 251) 0%, rgb(0, 91, 234) 100%);
      background-image: -webkit-linear-gradient(0deg, rgb(0, 198, 251) 0%, rgb(0, 91, 234) 100%);
      background-image: -ms-linear-gradient(0deg, rgb(0, 198, 251) 0%, rgb(0, 91, 234) 100%);
      width: 100%;
      position: relative;
      min-height: 453px;

      .musk_Shape {
        background: url("../assets/musk-bg2.png") no-repeat center;
        width: 100%;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -3px;

        .action-new-box {
          background: url("../assets/bg1.png") no-repeat center;
          width: 164px;
          height: 164px;
          position: relative;
          margin: auto;
          top: -101px;

          a {
            width: 108px;
            height: 108px;
            display: block;
            background: #fff;
            margin: auto;
            position: relative;
            top: 27px;
            border-radius: 50%;
            vertical-align: middle;
            padding-top: 36px;
          }
        }

        .summary {
          padding-bottom: 30px;
          margin-top: -36px;

          h2 {
            font-family: $font;
            color: rgb(255, 255, 255);
            line-height: 1.37;
            font-size: 51.8px;
            font-weight: bold;
            color: #fff;
            margin-bottom: 10px;
          }

          p {
            font-family: $font;
            color: rgb(255, 255, 255);
            font-size: 30px;
            font-weight: normal;
            color: #fff;
            margin-bottom: 35px;

            span {
              color: #57ddff;
            }
          }

          a.start-btn {
            border-radius: 3px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 10px 18px 0px rgba(0, 23, 65, 0.12);
            font-size: 16px;
            font-family: $font;
            font-weight: 400;
            display: inline-block;
            line-height: 45px;
            color: rgb(43, 98, 201);
            width: 183px;
            height: 50px;

            &:hover {
              transition: .6s;
              color: #00c6fb;
              box-shadow: 0px 10px 18px 0px rgba(0, 23, 65, 0.22);
            }
          }
        }
      }
    }
  }
}

#footer {
  background: #fff;

  .container {
    padding-top: 125px;

    .footer-menus {
      margin-bottom: 30px;

      h3 {
        font-size: 23px;
        font-family: $font;
        font-weight: 900;
        color: #000;
        margin-bottom: 33px;
      }

      input {
        border-style: solid;
        border-width: 1px;
        border-color: rgb(233, 233, 233);
        border-radius: 3px;
        background-color: rgb(242, 246, 249);
        height: 41px;
        box-shadow: none;
        padding: 0 10px;
      }

      .subscribe-btn {
        border-radius: 3px;
        background-color: rgb(43, 98, 201);
        box-shadow: 0px 10px 25px 0px rgba(0, 23, 65, 0.2);
        border: none;
        width: 179px;
        height: 45px;
        margin-top: 18px;
        font-size: 16px;
        font-family: $font;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.125;
        cursor: pointer;

        &:hover {
          box-shadow: 0px 10px 25px 0px rgba(0, 23, 65, 0.1);
          transition: .5s;
        }
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          padding: 0;
          list-style: none;
          font-size: 16px;
          font-family: $font;
          color: #657387;
          line-height: 1.125;
          margin: 11px 0 0 0;

          a {
            color: #657387;

            &:hover {
              color: #000;
            }
          }
        }
      }
    }
  }

}

.copyright {
  border-top: 1px solid #dce7f1;
  background-color: rgb(242, 246, 248);
  width: 100%;
  min-height: 68px;

  .container {
    max-width: 1170px;

    .socials {
      margin-top: 15px;
      @include breakpoint(max_sm) {
        text-align: center;
      }

      a {
        margin-right: 12px;
        color: #657387;

        i {
          &.fa-facebook-square {
            &:hover {
              color: #0c87fb;
            }
          }

          &.fa-twitter {
            &:hover {
              color: #1DA1F3;
            }
          }

          &.fa-youtube-play {
            &:hover {
              color: #FF0000;
            }
          }

          &.fa-google {
            &:hover {
              color: #DB3236;
            }
          }
        }
      }
    }

    p {
      font-size: 16px;
      font-family: $font;
      color: #6e7c8f;
      text-align: right;
      margin-top: 15px;
      @include breakpoint(max_sm) {
        text-align: center;
      }
    }
  }
}
